body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav {
    background-color: #000000;
    overflow: hidden;
    width: 100%;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 16px;
}
.nav a:hover {
    background-color: #ffffff;
    color: orange;
}
.input_search {
    float: right;
    padding-left: 8px;
    padding-top: 8px;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.input_search:focus {
    outline-width: 0;
}
.button_search {
    float: right;
    background-color: orange;
    color: white;
    margin-right: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}
.button_search:focus {
    outline-width: 0;
}
.sign {
    margin: auto;
    text-align: center;
    position: absolute;
    vertical-align: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    background-color:rgba(0, 0, 0, 80%);
    position: absolute;
}
.login {
    color: white;
    margin-top: 32px;
    font-size: 32px;
}
.input_username {
    width: 80%;
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0%);
    color: white;
    display: inline-block;
    margin: 16px;
    border: none;
    border-bottom: 2px solid orange;
    box-sizing: border-box;
}
.input_username:focus {
    outline-width: 0;
}
.input_password {
    width: 80%;
    padding: 12px 20px;
    margin: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0%);
    display: inline-block;
    border: none;
    border-bottom: 2px solid orange;
    box-sizing: border-box;
}
.input_password:focus {
    outline-width: 0;
}
.button_submit {
    float: left;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin-top: 32px;
    border-radius: 16px;
    margin-bottom: 64px;
    margin-left: 32px;
    border: none;
    cursor: pointer;
}
.button_submit:focus {
    outline-width: 0;
}